.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.service-container {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline;
    background: #272E38;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
}